<%- include("header") -%>

<section>
  <form class="" action="/certifications" method="post">
<div class="wrapper">
      <div class="search-input">
        <input type="text" placeholder="Type to search.." name="srchInput" value="">
        <div class="autocom-box"> </div>
        <div class="icon">
        <button type="submit" name="" class="btn btn-sm searchBtn"><i class="fas fa-search"></i></button>
        </div> </div> </div>
  </form>

  <script> 
let suggestions = <%-JSON.stringify(CourseSuggest)%> ;
// getting all required elements
const searchWrapper = document.querySelector(".search-input");
const inputBox = searchWrapper.querySelector("input");
const suggBox = searchWrapper.querySelector(".autocom-box");
const icon = searchWrapper.querySelector(".icon");
let linkTag = searchWrapper.querySelector("a");
let webLink;
// if user press any key and release
inputBox.onkeyup = (e)=>{
    let userData = e.target.value; //user enetered data
    let emptyArray = [];
    if(userData){
        console.log(userData);
        // icon.onclick = ()=>{webLink = `https://www.google.com/search?q=${userData}`;linkTag.setAttribute("href", webLink);linkTag.click();}
        // emptyArray = suggestions.filter((data)=>{filtering array value and user characters to lowercase and return only those words which are start with user enetered chars return data.toLocaleLowerCase().startsWith(userData.toLocaleLowerCase()); });
        emptyArray = suggestions.filter((data)=>{
// emptyArray = ['<%=CourseSuggest%>'].filter((data)=>{filtering array value and user characters to lowercase and return only those words which are start with user enetered chars
            return data.toLocaleLowerCase().startsWith(userData.toLocaleLowerCase());
        });
        emptyArray = emptyArray.map((data)=>{
            // passing return data inside li tag
            return data = `<li>${data}</li>`;
        });
        searchWrapper.classList.add("active"); //show autocomplete box
        showSuggestions(emptyArray);
        let allList = suggBox.querySelectorAll("li");
        for (let i = 0; i < allList.length; i++) {
            //adding onclick attribute in all li tag
            allList[i].setAttribute("onclick", "select(this)");
        }
    }else{
        searchWrapper.classList.remove("active"); //hide autocomplete box
    }
}

function select(element){
    let selectData = element.textContent;
    inputBox.value = selectData;
    // icon.onclick = ()=>{ webLink = `https://www.google.com/search?q=${selectData}`;linkTag.setAttribute("href", webLink);linkTag.click();}
    searchWrapper.classList.remove("active");
}

function showSuggestions(list){
    let listData;
    if(!list.length){
        userValue = inputBox.value;
        listData = `<li>${userValue}</li>`;
    }else{
      listData = list.join('');
    }
    suggBox.innerHTML = listData;
}
  </script> 

        </div>
      </div>
    </div>
  </form>


</section>

<section id="CourseRecommend">
  <% if((typeof courseCertA != 'undefined')&&(courseCertA !=0)){ %>
  <div style='border-style:inset;'>
    <p>
    <h4 style='color:#f4f9f4'>recommendations here for <%=futProfile %></h4>
    </p>
    
    <div class="row opt-total">
      <div class="col-lg-6 opt-why">
        <p> <%=courseCertA%> </p>
      </div>
      <div class="col-lg-2">
       <form action="/certhome" method="post">
        <input type="hidden" name="fCerti" value="<%=courseCertA%>">
        <button type="submit" class="btn optbut-task" name="button">Add</button>
        </form>
      </div>
    </div>
    <% if((courseCertB != 'undefined')&&(courseCertB !=0)){ %>
    <div class="row opt-total">
      <div class="col-lg-6 opt-why">
        <p> <%=courseCertB%> </p>
      </div>
      <div class="col-lg-2">
        <form action="/certhome" method="post">
        <input type="hidden" name="fCerti" value="<%=courseCertB%>">
        <button type="submit" class="btn optbut-task" name="button">Add</button>
        </form>
      </div>
    </div>
<% } %>
<% if((courseCertC != 'undefined')&&(courseCertC !=0)){ %>
    <div class="row opt-total">
      <div class="col-lg-6 opt-why">
        <p> <%=courseCertC%> </p>
      </div>
      <div class="col-lg-2">
        <form action="/certhome" method="post">
        <input type="hidden" name="fCerti" value="<%=courseCertC%>">
        <button type="submit" class="btn optbut-task" name="button">Add</button>
        </form>
      </div>
    </div>
<% } %>
<% if((courseCertD != 'undefined')&&(courseCertD !=0)){ %>
    <div class="row opt-total">
      <div class="col-lg-6 opt-why">
        <p> <%=courseCertD%> </p>
      </div>
      <div class="col-lg-2">
        <form action="/certhome" method="post">
        <input type="hidden" name="fCerti" value="<%=courseCertD%>">
        <button type="submit" class="btn optbut-task" name="button">Add</button>
        </form>
      </div>
    </div>
<% } %>
<% if((courseCertE != 'undefined')&&(courseCertE !=0)){ %>
    <div class="row opt-total">
      <div class="col-lg-6 opt-why">
        <p> <%=courseCertE%> </p>
      </div>
      <div class="col-lg-2">
        <form action="/certhome" method="post">
        <input type="hidden" name="fCerti" value="<%=courseCertE%>">
        <button type="submit" class="btn optbut-task" name="button">Add</button>
        </form>
      </div>
    </div>
<% } %>
    <% }else{ %>
    <div class="col-lg-6 opt-why">
      Select your future profile to get certificate recommendations
    </div>
    <% } %>
</section>
<section id="certi">
  <div class="row opt-total">
    <% certNames.forEach(function(Certification){ %>
    <div class="col-lg-6 opt-why">
      <p>
      <h3><%= Certification.certNam %> <%= Certification.certDes %> </h3>
      </p>
    </div>
    <div class="col-lg-2">
      <form action="/certhome" method="post">
        <input type="hidden" name="fCerti" value="<%= Certification.certNam %>">
        <button type="submit" class="btn optbut-task" name="button">Add</button>
      </form>
    </div>
    <% }); %>
  </div>
</section>
<section>
  <form action="/complain" method="post">
    <input type="text" size="50" name="feedback" placeholder="Provide your feedback here">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>

<%- include("footer") -%>