<%- include("header") -%>
<section>
  <form class="" action="/compexams" method="post">
<div class="wrapper">
      <div class="search-input">
        <input type="text" placeholder="Type to search.." name="srchInput" value="">
        <div class="autocom-box"> </div>
        <div class="icon">
        <button type="submit" name="" class="btn btn-sm searchBtn"><i class="fas fa-search"></i></button>
        </div> </div> </div>
  </form>

  <script> 
let suggestions = <%-JSON.stringify(CourseSuggest)%> ;
// getting all required elements
const searchWrapper = document.querySelector(".search-input");
const inputBox = searchWrapper.querySelector("input");
const suggBox = searchWrapper.querySelector(".autocom-box");
const icon = searchWrapper.querySelector(".icon");
let linkTag = searchWrapper.querySelector("a");
let webLink;
// if user press any key and release
inputBox.onkeyup = (e)=>{
    let userData = e.target.value; //user enetered data
    let emptyArray = [];
    if(userData){
        console.log(userData);
        // icon.onclick = ()=>{webLink = `https://www.google.com/search?q=${userData}`;linkTag.setAttribute("href", webLink);linkTag.click();}
        // emptyArray = suggestions.filter((data)=>{filtering array value and user characters to lowercase and return only those words which are start with user enetered chars return data.toLocaleLowerCase().startsWith(userData.toLocaleLowerCase()); });
        emptyArray = suggestions.filter((data)=>{
// emptyArray = ['<%=CourseSuggest%>'].filter((data)=>{filtering array value and user characters to lowercase and return only those words which are start with user enetered chars
            return data.toLocaleLowerCase().startsWith(userData.toLocaleLowerCase());
        });
        emptyArray = emptyArray.map((data)=>{
            // passing return data inside li tag
            return data = `<li>${data}</li>`;
        });
        searchWrapper.classList.add("active"); //show autocomplete box
        showSuggestions(emptyArray);
        let allList = suggBox.querySelectorAll("li");
        for (let i = 0; i < allList.length; i++) {
            //adding onclick attribute in all li tag
            allList[i].setAttribute("onclick", "select(this)");
        }
    }else{
        searchWrapper.classList.remove("active"); //hide autocomplete box
    }
}

function select(element){
    let selectData = element.textContent;
    inputBox.value = selectData;
    // icon.onclick = ()=>{ webLink = `https://www.google.com/search?q=${selectData}`;linkTag.setAttribute("href", webLink);linkTag.click();}
    searchWrapper.classList.remove("active");
}

function showSuggestions(list){
    let listData;
    if(!list.length){
        userValue = inputBox.value;
        listData = `<li>${userValue}</li>`;
    }else{
      listData = list.join('');
    }
    suggBox.innerHTML = listData;
}
  </script> 

        </div>
      </div>
    </div>
  </form>


</section>

<section id="CourseRecommend">
  <% if(typeof courseRecA != 'undefined'){ %>
  <div style='border-style:inset;'>
    <p>
    <h4 style='color:#f4f9f4'>recommendations here for <%=futProfile %></h4>
    </p>
    <div class="row opt-total">
      <div class="col-lg-3 opt-box">
        <p> degree name </p>
      </div>
      <div class="col-lg-6 opt-why">
        <p> <%= courseRecA %> </p>
      </div>
      <div class="col-lg-2">
        <form class="" action="/courhome" method="post"><input type="hidden" name="ftDeg" value=" "><input type="hidden" name="ftMajor" value=" ">
          <button type="submit" class="btn optbut-task" name="button">Add</button>
        </form>
      </div>
    </div>
    <div class="row opt-total">
      <div class="col-lg-3 opt-box">
        <p> degree name </p>
      </div>
      <div class="col-lg-6 opt-why">
        <p> <%= courseRecB %> </p>
      </div>
      <div class="col-lg-2">
        <form class="" action="/courhome" method="post"><input type="hidden" name="ftDeg" value=" "><input type="hidden" name="ftMajor" value=" ">
          <button type="submit" class="btn optbut-task" name="button">Add</button>
        </form>
      </div>
    </div>
    <div class="row opt-total">
      <div class="col-lg-3 opt-box">
        <p> degree name </p>
      </div>
      <div class="col-lg-6 opt-why">
        <p> <%= courseRecC %> </p>
      </div>
      <div class="col-lg-2">
        <form class="" action="/courhome" method="post"><input type="hidden" name="ftDeg" value=" "><input type="hidden" name="ftMajor" value=" ">
          <button type="submit" class="btn optbut-task" name="button">Add</button>
        </form>
      </div>
    </div>
    <div class="row opt-total">
      <div class="col-lg-3 opt-box">
        <p> degree name </p>
      </div>
      <div class="col-lg-6 opt-why">
        <p> <%= courseRecD %> </p>
      </div>
      <div class="col-lg-2">
        <form class="" action="/courhome" method="post"><input type="hidden" name="ftDeg" value=" "><input type="hidden" name="ftMajor" value=" ">
          <button type="submit" class="btn optbut-task" name="button">Add</button>
        </form>
      </div>
    </div>
    <div class="row opt-total">
      <div class="col-lg-3 opt-box">
        <p> degree name </p>
      </div>
      <div class="col-lg-6 opt-why">
        <p> <%= courseRecE %> </p>
      </div>
      <div class="col-lg-2">
        <form class="" action="/courhome" method="post"><input type="hidden" name="ftDeg" value=" "><input type="hidden" name="ftMajor" value=" ">
          <button type="submit" class="btn optbut-task" name="button">Add</button>
        </form>
      </div>
    </div>

    <% }else{ %>
    <div class="col-lg-6 opt-why">
      Select your future profile to get competitive exam recommendations
    </div>

    <% } %>
</section>

<section id="compet">

  <div class="row opt-total">


    <% certNames.forEach(function(Certification){ %>
    
    <div class="col-lg-6 opt-box ">
      <h3><%= Certification.exNam %></h3>
    </div>
    <div class="col-lg-2">
      <form action="/examhome" method="post">
        <input type="hidden" name="fExam" value="<%= Certification.exNam %>">

        <button type="submit" class="btn optbut-task" name="button">Add</button>
      </form>
    </div>

    <% }); %>
  </div>


</section>

<section>
  <form action="/complain" method="post">
    <input type="text" size="50" name="feedback" placeholder="Provide your feedback here">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>





<%- include("footer") -%>