<%- include("header") -%>
<section>
  <form class="" action="/compexams" method="post">
    <div class="container">
      <div class="wrapper">
        <input type="text" name="srchInput" id="searchCompExams" size="70" value="" class="searchInp" placeholder="search" autocomplete="chrome-off">
        <button type="submit" name="" class="btn btn-sm searchBtn"><i class="fas fa-search"></i></button>
        <div class="results CourseSuggestStyle">
          <ul>
          </ul>
          <script>
            if (typeof '<%=CourseSuggest%>' != 'undefined') {
              const searchable = ['<%=CourseSuggest%>'];
              const searchInput = document.getElementById('searchCompExams');
              const searchWrapper = document.querySelector('.wrapper');
              const resultsWrapper = document.querySelector('.results');
              searchInput.addEventListener('keyup', () => {
                let results = [];
                let input = searchInput.value;
                if (input.length) {
                  results = searchable[0].toString().split(',').filter((item) => {
                    return item.toLowerCase().includes(input.toLowerCase());
                  });
                }
                renderResults(results);
              });

              function renderResults(results) {
                if (!results.length) {
                  return searchWrapper.classList.remove('show');
                }
                const content = results
                  .map((item) => {
                    return `<li>${item}</li>`;
                  })
                  .join('');
                searchWrapper.classList.add('show');
                resultsWrapper.innerHTML = `<ul>${content}</ul>`;
              }
            }
          </script>
        </div>
      </div>
    </div>
  </form>


</section>

<section id="CourseRecommend">
  <% if(typeof courseRecA != 'undefined'){ %>
  <div style='border-style:inset;'>
    <p>
    <h4 style='color:#f4f9f4'>recommendations here for <%=futProfile %></h4>
    </p>
    <div class="row opt-total">
      <div class="col-lg-3 opt-box">
        <p> degree name </p>
      </div>
      <div class="col-lg-6 opt-why">
        <p> <%= courseRecA %> </p>
      </div>
      <div class="col-lg-2">
        <form class="" action="/courhome" method="post"><input type="hidden" name="ftDeg" value=" "><input type="hidden" name="ftMajor" value=" ">
          <button type="submit" class="btn optbut-task" name="button">Add</button>
        </form>
      </div>
    </div>
    <div class="row opt-total">
      <div class="col-lg-3 opt-box">
        <p> degree name </p>
      </div>
      <div class="col-lg-6 opt-why">
        <p> <%= courseRecB %> </p>
      </div>
      <div class="col-lg-2">
        <form class="" action="/courhome" method="post"><input type="hidden" name="ftDeg" value=" "><input type="hidden" name="ftMajor" value=" ">
          <button type="submit" class="btn optbut-task" name="button">Add</button>
        </form>
      </div>
    </div>
    <div class="row opt-total">
      <div class="col-lg-3 opt-box">
        <p> degree name </p>
      </div>
      <div class="col-lg-6 opt-why">
        <p> <%= courseRecC %> </p>
      </div>
      <div class="col-lg-2">
        <form class="" action="/courhome" method="post"><input type="hidden" name="ftDeg" value=" "><input type="hidden" name="ftMajor" value=" ">
          <button type="submit" class="btn optbut-task" name="button">Add</button>
        </form>
      </div>
    </div>
    <div class="row opt-total">
      <div class="col-lg-3 opt-box">
        <p> degree name </p>
      </div>
      <div class="col-lg-6 opt-why">
        <p> <%= courseRecD %> </p>
      </div>
      <div class="col-lg-2">
        <form class="" action="/courhome" method="post"><input type="hidden" name="ftDeg" value=" "><input type="hidden" name="ftMajor" value=" ">
          <button type="submit" class="btn optbut-task" name="button">Add</button>
        </form>
      </div>
    </div>
    <div class="row opt-total">
      <div class="col-lg-3 opt-box">
        <p> degree name </p>
      </div>
      <div class="col-lg-6 opt-why">
        <p> <%= courseRecE %> </p>
      </div>
      <div class="col-lg-2">
        <form class="" action="/courhome" method="post"><input type="hidden" name="ftDeg" value=" "><input type="hidden" name="ftMajor" value=" ">
          <button type="submit" class="btn optbut-task" name="button">Add</button>
        </form>
      </div>
    </div>

    <% }else{ %>
    <div class="col-lg-6 opt-why">
      Select your future profile to get competitive exam recommendations
    </div>

    <% } %>
</section>

<section id="compet">

  <div class="row opt-total">


    <% certNames.forEach(function(Certification){ %>
    
    <div class="col-lg-6 opt-box ">
      <h3><%= Certification.exNam %></h3>
    </div>
    <div class="col-lg-2">
      <form action="/examhome" method="post">
        <input type="hidden" name="fExam" value="<%= Certification.exNam %>">

        <button type="submit" class="btn optbut-task" name="button">Add</button>
      </form>
    </div>

    <% }); %>
  </div>


</section>

<section>
  <form action="/complain" method="post">
    <input type="text" size="50" name="feedback" placeholder="Provide your feedback here">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>





<%- include("footer") -%>